button.contato-btn{
    width: 150px;
    font-size: 15px;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    padding: 0.7em 2em;
    border: 3px solid black;
    border-radius: 5px;
    position: relative;
    color: white;
    background-color: black;
    transition: 0.3s ease all;
    z-index: 1;
}

button.contato-btn:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
    background-color: white;
    z-index: -1;
}  
button.contato-btn:hover, button.contato-btn:focus {
    border: 3px solid white;
    color: black;
}

button.contato-btn:hover:before, button.contato-btn:focus:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
}

button.contato-btn:active {
    transform: scale(0.9);
}
div.btns-sobre{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15vh;
}

div.btns-sobre button{
    font-size: 17px;
    padding: 0.5em 2em;
    border: transparent;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
    background: rgb(76,76,79);
    background: radial-gradient(circle, rgba(76,76,79,1) 13%, rgba(0,0,0,1) 94%);
    color: white;
    border-radius: 50%;
    height: 40%;    
}

div.btns-sobre button:hover {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(30,144,255,1) 0%, rgba(0,212,255,1) 100%);
}

div.btns-sobre button:active {
    transform: translate(0em, 0.2em);
}
