@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;500;600;700;900&display=swap');
/* font-family: 'Cairo', sans-serif; */

/* All medias */
*{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html{
    width: 100vw;
    height: 100vh;
    color: white;
    overflow-x: hidden;
}
header{
    background-color: #0d0d0d;
    text-align: center;
    padding-top: 20px;
    margin: 0px;
}
h1.title{
    font-variant: small-caps;
    font-size: 1.5em;
    border-bottom: 1px solid white;
    width: 190px;
    margin: auto;
}
span#burger{
    display: block;
    margin-top: 10px;
    cursor: pointer;
}
nav {
    display: none;
}
ul li {
    display: block;
    margin: auto;
    margin-bottom: 10px;
    padding: 5px 0px;
    width: 200px;
    border: 1px solid white;
    background-color:#20202029;
    transition: 900ms;
}
ul li:hover{
    background-color: #070707;
}
ul li a{
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: 500;
}
/* Fundo */
body{
    background: url("../img/workout-vertical.jpg") center center no-repeat fixed;
    background-size: cover;
}

main{
    width: 100vw;
    height: 100vh;
    position: relative;
}
main article{
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 310px;
}

h1.frase{
    font-size: 1.3em;
    font-weight: 700;
    color: white;
    font-family: 'Cairo', sans-serif;
    text-shadow: 1px 1px 3px black;
}
h2{
    font-size: 1em;
    color: white;
    font-family: 'Oswald', sans-serif;
    text-shadow: 1px 1px 3px black;
    margin: 10px 0px;
}
div.btns{
    display: block;
    width: 310px;
    margin: auto;

}
div.btns button{
    background-color: #0d0d0d70;
    color: white;
    border-radius: 10px;
    border: 1px solid white;
    padding: 5px;
    font-weight: bold;
    width: 200px;
    height: 49px;
    margin: auto;
    font-size: 15px;
    transition: 900ms;
    margin-top: 10px;
}
div.btns button:hover{
    background-color: #070707;
}
