@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;500;600;700;900&display=swap');
/* font-family: 'Cairo', sans-serif; */

/* All medias */

html{
    width: 100vw;
    height: 100vh;
    color: white;
}
header{
    background-color: #0d0d0d;
    text-align: center;
    padding-top: 20px;
    margin: 0px;
}
h1.title{
    font-variant: small-caps;
    font-size: 1.5em;
    border-bottom: 1px solid white;
    width: 190px;
    margin: auto;
}
span#burger{
    display: block;
    margin-top: 10px;
    cursor: pointer;
}
nav {
    display: none;
}
ul li {
    display: block;
    margin: auto;
    margin-bottom: 10px;
    padding: 5px 0px;
    width: 200px;
    border: 1px solid white;
    background-color:#20202029;
    transition: 900ms;
}
ul li:hover{
    background-color: #070707;
}
ul li a{
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: 500;
}
/* Fundo */
body{
    background: url("../img/workout-vertical.jpg") center center no-repeat fixed;
    background-size: cover;
    overflow-x: hidden;
}

main{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
main article{
    text-align: center;
    width: 310px;
}
article.home{
    margin-bottom: 20vh;
}
h1.frase{
    font-size: 1.3em;
    font-weight: 700;
    color: white;
    font-family: 'Cairo', sans-serif;
    text-shadow: 1px 1px 3px black;
}
h2{
    font-size: 1em;
    color: white;
    font-family: 'Oswald', sans-serif;
    text-shadow: 1px 1px 3px black;
    margin: 10px 0px;
}
div.btns{
    display: flex;
    flex-direction: row;
    width: 300px;
    margin: auto;

}
div.btns button{
    background-color: #0d0d0d70;
    color: white;
    border-radius: 10px;
    border: 1px solid white;
    padding: 5px;
    font-weight: bold;
    width: 200px;
    margin: auto;
    transition: 900ms;
    margin-right: 5px;
}
div.btns button:hover{
    background-color: #070707;
}
